CompileFlags:
  Add: [-ftemplate-backtrace-limit=0, -g, -DNDEBUG, -D__cpp_concepts=202002]

Diagnostics:
  UnusedIncludes: Strict
  MissingIncludes: Strict
  Includes:
    IgnoreHeader: ".*/(detail|impl)/.*"
